# ==========================================
# 🌐 WEB FRAMEWORK & SERVER
# ==========================================
Flask
Flask-SocketIO
Flask-WTF
Flask-Mail
Flask-Cors
gunicorn[eventlet]
eventlet
pytz
APScheduler
# ==========================================
# 🗄️ DATABASE & ENVIRONMENT
# ==========================================
firebase-admin
python-dotenv
psycopg2-binary

# ==========================================
# 🛠️ UTILITIES & COMMUNICATIONS
# ==========================================
twilio
pywebpush
qrcode
Pillow
Flask-Limiter
# ==========================================
# 📊 MATHEMATICAL UTILITIES
# ==========================================
numpy